version: '3'
services:
  user-service:
    build: ./user-service
    ports:
      - "5001:5000"
    depends_on:
      - product-service

  product-service:
    build: ./product-service
    ports:
      - "5002:5000"
